{% extends 'user/base.html.twig' %}
{% block body %}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width"/>
        <title></title>
        <style>
            label{
                display: block;
            }
        </style>
    </head>
    <body>
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm">
                        <h1>資訊</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ url("user.index") }}">首頁</a></li>
                            <li class="breadcrumb-item active">資訊</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <form id="idFormAioCheckOut" method="post" action="{{url('test.pay')}}">
            <input hidden name="PaymentType" value="aio" class="form-control"/>
            <input hidden name="MerchantTradeNo" value="{{ TradeNo }}" class="form-control"/>

            <label class="col-xs-12">時間 (MerchantTradeDate):
                <input type="text" name="MerchantTradeDate" value="{{ date }}" class="form-control" readonly/>
            </label>
            <label class="col-xs-12">金額 (TotalAmount):
                <input type="text" name="TotalAmount" value="{{ total }}" class="form-control" readonly/>
            </label>
            <label class="col-xs-12">名稱 (ItemName):
                <input type="text" name="ItemName" value="{{ name }}" class="form-control" readonly/>
            </label>
            <label class="col-xs-12">地址 (address):
                <input type="text" name="address" value="{{ address }}" class="form-control" readonly/>
            </label>
            <label class="col-xs-12">付款方式 (ChoosePayment):<br>
                <input type="radio" name="ChoosePayment" value="Credit" > 信用卡<br>
                <input type="radio" name="ChoosePayment" value="AndroidPay"> AndroidPay<br>
                <input type="radio" name="ChoosePayment" value="WebATM"> 網路 ATM<br>
                <input type="radio" name="ChoosePayment" value="ATM"> 自動櫃員機<br>
                <input type="radio" name="ChoosePayment" value="CVS"> 超商代碼<br>
                <input type="radio" name="ChoosePayment" value="BARCODE"> 超商條碼<br>
                <input type="radio" name="ChoosePayment" value="ALL" checked> 不指定<br>
            </label>

            <button type="submit" class="btn btn-success">綠界線上支付</button>
        </form>
    </div>
    </body>
    </html>
{% endblock %}