{% extends 'admin/base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm">
                    <h1>產品</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ url("admin.index") }}">首頁</a></li>
                        <li class="breadcrumb-item active">{{ product.name }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <table class="table table-bordered">
        <tbody>

            <tr>
                <th>產品名稱</th>
                <td>{{ product.name }}</td>
            </tr>


            <tr>
                <th>創建時間</th>
                <td>{{ product.createAt ? product.createAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>更新時間</th>
                <td>{{ product.updateAt ? product.updateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>圖片</th>
                <td>
                {% for image in product.image %}
                    <img width="200" height="200" src= "{{ image }}">
                {% else %}
                    沒有圖片
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th>說明</th>
                <td>{{ product.description }}</td>
            </tr>

        </tbody>
    </table>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>規格</th>
            <th>價格</th>
            <th>庫存</th>
        </tr>
        </thead>

        {% for i in product.format|keys %}
            <tr>
                <td>{{ product.format[i] }}</td>
                <td>{{ product.price[i] }}</td>
                <td>{{ product.stock[i] }}</td>
            </tr>
        {% endfor %}
    </table>

    <br>評價:<br>
    {% for evaluation in evaluations %}
        <div>&emsp;<a style="color: #2d698c">{{ evaluation.username }}</a>:{{ evaluation.content }}</div>
    {% endfor %}

    <br>留言:<br>
    {% for message in messages %}
        <div>&emsp;<a style="color: #2d698c">{{ message.username }}</a>:{{ message.content }}</div>
    {% endfor %}
    <br>
    <a href="{{ path('admin.product.list') }}">
        <button class="btn btn-primary btn-xs" style="margin: 0 10px 0 0;">
            <i class="fas fa-eye"></i> 產品列表
        </button>
    </a>
    <a href="{{ url("admin.product.update", {"id": product.getId()}) }}">
        <button class="btn btn-warning btn-xs" style="margin: 0 10px 0 0;">
            <i class="fas fa-edit"></i> 更新產品
        </button>
    </a>
    <a href="{{ url("admin.product.delete", {"id": product.getId()}) }}">
        <button onclick="return confirm('確定刪除嗎?');" class="btn btn-danger btn-xs" style="margin: 0 10px 0 0;">
            <i class="fas fa-trash"></i> 刪除產品
        </button>
    </a></td>

</div>
{% endblock %}
