<footer class="slideUp wow">
    <div class="wrapper">
        <div class="footer_menu">
            <ul>
                <li>
                    <h3>如何購買</h3>
                </li>
                <li><a href="{{ url('memberFAQ') }}">會員常見問題</a></li>
                <li><a href="{{ url('productFAQ') }}">產品常見問題</a></li>
                <li><a href="{{ url('shoppingFAQ') }}">購物常見問題</a></li>
                <li><a href="{{ url('deliveryNote') }}">配送常見說明</a></li>
                <li><a href="{{ url('returnInstructions') }}">退貨退款說明</a></li>
            </ul>
            <ul>
                <li>
                    <h3>會員服務</h3>
                </li>
                <li><a href="{{ url('terms') }}">使用條款</a></li>
                <li><a href="{{ url('privacy') }}">隱私權政策</a></li>
                <li><a href="{{ url('consumer') }}">消費者權益</a></li>
                <li><a href="{{ url('responsibility') }}">責任或免責說明</a></li>
                <li><a href="{{ url('platformTrading') }}">平台交易相關法規</a></li>
            </ul>
            <ul>
                <li>
                    <h3>小農招募</h3>
                </li>
                <li><a href="{{ url('join') }}">加入小農行列</a></li>
                <li><a class="green" href="{{ url('message') }}">線上留言</a></li>
            </ul>

        </div>
        <div class="footer_sub_menu">
            <ul>
                <li>
                    <ol>
                        <li>
                            <a href="https://www.facebook.com/groups/MITFM">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        {#
                        <li>
                            <a href="">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fab fa-google-plus"></i>
                            </a>
                        </li>
                        #}
                        <li>
                            <a
                                    href="https://www.instagram.com/explore/tags/%E5%B0%8F%E8%BE%B2%E9%BB%9E%E9%BB%9E/?hl=zh-tw">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ol>
                </li>

            </ul>
        </div>

    </div>
    <div id="copyright">
        <div class="wrapper">
            <h3>Copyright © 2019 little farmer Inc. 保留一切權利。</h3>
            <ol class="language">
                <li>
                    <a href="">
                        <img src="{{ asset('dist/img/taiwan.png') }}" alt="中文">
                        <span class="text">中文</span>
                    </a>
                </li>
            </ol>
        </div>
    </div>
</footer>