{% extends "base.html.twig" %}


{% block title %}Edit{% endblock %}

{% block body %}
<form role="form" id="user_form" method="post" action="{{ url("admin.users.edit", {'id': user.getId()}) }}">
    <div class="card-body">
        <div class="form-group">
            <label for="user_name" class="required"> User Name</label>
            <input type="name"
                    id="user_name"
                    name="user[name]"
                    required="required"
                    value="{{ user.getName() }}"
                    class="form-control {{ (form_errors(form.name) | length > 0) ? "is-invalid" : "" }}"
                    placeholder="{{ 'Input user name here' | trans }}">
            {% if (form_errors(form.name) | length > 0) %}
                <span class="help-block" style="color: #dc3545;">{{ form_errors(form.name) }}</span>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="user_email" class="required">User Email</label>
            <input type="email"
                    id="user_email"
                    name="user[email]"
                    required="required"
                    value="{{ user.getEmail() }}"
                    class="form-control {{ (form_errors(form.email) | length > 0) ? "is-invalid" : "" }}"
                    placeholder="{{ 'Input user email here' | trans }}">
            {% if (form_errors(form.email) | length > 0) %}
                <span class="help-block" style="color: #dc3545;">{{ form_errors(form.email) }}</span>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="user_password" class="required">User Password</label>
            <input type="password"
                    id="user_password"
                    name="user[password]"
                    required="required"
                    class="form-control {{ (form_errors(form.password) | length > 0) ? "is-invalid" : "" }}"
                    placeholder="{{ 'Input user password here' | trans }}">
            {% if (form_errors(form.password) | length > 0) %}
                <span class="help-block" style="color: #dc3545;">{{ form_errors(form.password) }}</span>
            {% endif %}
        </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        <button type="submit" class="btn btn-primary">{{ "Save User" | trans }}</button>
                                </div>
                            </form>
    </br><a href="/user">list</a></br>
{% endblock %}

