<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>小農點點</title>
    <link rel="stylesheet" href="{{ asset("dist/css/style.css") }}">
    <script src="https://code.jquery.com/jquery-1.8.3.min.js"></script>
</head>

<body>
    {% include "/user/components/navbar.html.twig" %}
    {% block body %}{% endblock %}
    {% include "/user/components/footer.html.twig" %}
    {% block javascripts %}{% endblock %}


<script src="{{ asset("dist/js/imgLiquid-min.js") }}"></script>
<script src="{{ asset("dist/js/slick.min.js") }}"></script>
<script src="{{ asset("dist/js/ui.js") }}"></script>
<script src="{{ asset("dist/js/wow.min.js") }}"></script>
<script src="{{ asset("dist/js/jquery.twzipcode.min.js") }}"></script>


</body>
</html>
