{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}


    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>評價</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ url("index") }}">首頁</a></li>
                            <li class="breadcrumb-item active">產品</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-auto">
                    <div>
                        產品名:
                        <a href="{{ path('product.fetch', {'id': product.id}) }}">{{ product.name }}</a>
                    </div>
                    {{ form_start(form) }}
                    {{ form_widget(form.content) }}<br>
                    <button type="submit" class="btn btn-outline-info btn-xs">送出</button>
                    {{ form_end(form) }}
                    {% if check == true %}
                        <button onclick="return confirm('確定刪除嗎?');"><a href="{{ path('product.evaluation.delete', {'id': moeId}) }}">delete</a></button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}