{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm">
                        <h1>購物車</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ url("index") }}">首頁</a></li>
                            <li class="breadcrumb-item active">購物車</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <div class="container-fluid">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>產品圖片</th>
                    <th>名稱</th>
                    <th>規格</th>
                    <th>單價</th>
                    <th>數量</th>
                    <th>小計</th>
                    <th>更新</th>
                    <th>刪除</th>
                </tr>
                </thead>
                <tbody>
                {% set total = 0 %}
                {% for key, cart in carts %}

                    <tr>
                        <input hidden value="{{ key }}" name="key">
                        <td>
                            {% if cart['image']  %}
                                <img width="200" height="200" src= "{{ cart['image'] }}">
                            {% else %}
                                <img width="200" height="200" src= "/uploads/default/noPhoto.png">
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('product.fetch', {'id': cart['productId']}) }}">
                                {{ cart['name']  }}
                            </a></td>
                        <td>{{ cart['format'] }}<input hidden name="newFormat" value="{{ cart['format'] }}"></td>
                        <td>{{ cart['price'] }}</td>

                        <td><div class="form-group"><input required name="newQuantity" type="number" value="{{ cart['quantity'] }}" style="width: 100px"></div></td>
                        <td>{{ cart['subTotal'] }}</td>
                        <td>
                            <div class="form-group">
                                <button type="submit" class="btn btn-info" onclick="submitXML()">更新</button></br>
                            </div>
                        </td>
                        <td>
                            <a href="{{ url("cart.delete", {"id": key}) }}">
                                <button type="button" onclick="return confirm('確定刪除嗎?');" class="btn btn-danger btn-xs" style="margin: 0 10px 0 0;">
                                    <i class="fas fa-edit"></i> 刪除
                                </button>
                            </a>
                        </td>
                    </tr>
                    </form>
                    {%  set total = total + cart['subTotal'] %}
                    {% if loop.last %}
                        <div class ="container-fluid">
                            <form method="post" action="{{ url('prepare.info') }}">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-info" onclick="return confirm('確定購買嗎?');">建立訂單並繳費</button></br>
                                </div>
                            </form>
                            <div>小計 :{{ total }}</div>
                        </div>
                    {% endif %}
                {% else %}
                    <tr>
                        <td colspan="8">沒有產品</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
