<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tchat</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset("/plugins/fontawesome-free/css/all.min.css") }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="{{ asset("/plugins/icheck-bootstrap/icheck-bootstrap.min.css") }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset("/dist/css/adminlte.min.css") }}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- jQuery -->

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src= "/plugins/jquery/jquery.min.js" ></script>
    <script src="https://cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
</head>

<body class="hold-transition login-page">
<div class="login-box">

    <div class="login-logo">
        <h1 class="h3 mb-3 font-weight-normal">Please Log in</h1>
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div><br>
                {% endif %}
                {% if app.user == NULL %}

                {% else %}
                    <div class="mb-3">
                        You are logged in as <b>{{ app.user.name }}</b>, <a href="{{logout_path("main") }}">Logout</a>
                    </div>
                {% endif %}
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}"
                       name="email" id="inputEmail"
                       class="form-control"
                       placeholder="{{ 'Enter User Email Here' | trans }}"
                       required autofocus></br>
                <label for="inputPassword">Password</label>
                <input type="password" name="password"
                       id="inputPassword"
                       class="form-control"
                       placeholder="{{ 'Enter User Password Here' | trans }}"
                       required></br>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}">
                <button class="btn btn-lg btn-primary" type="submit">
                    Log in
                </button></br>
            </form>
            <a href="/register">register</a>
        </div>
    </div>
</div>
</body>
</html>
