{% extends 'admin/base.html.twig' %}

{% block body%}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>分類:{{ getParent(category)|raw }}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ url("admin.category.list") }}">首頁</a></li>
                        <li class="breadcrumb-item active">分類內容</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">名稱</th>
                                    <th scope="col">創建時間</th>
                                    <th scope="col">最後更新</th>
                                    <th scope="col">動作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for Category in sonCategory %}
                                    <tr>
                                        <td style="vertical-align: middle">
                                            <a href="{{ url("admin.category.fetch", {"id": Category.getId()}) }}">
                                                {{ Category.getName() }}
                                            </a>
                                        </td>
                                        <td style="vertical-align: middle">{{ Category.getCreateAt()|date('Y-m-d H:i:s') }}</td>
                                        <td style="vertical-align: middle">{{ Category.getUpdateAt()|date('Y-m-d H:i:s')}}</td>
                                        <td>
                                            <a href="{{ url("admin.category.update", {"id": Category.getId()}) }}">
                                                <button class="btn btn-warning btn-xs" style="margin: 0 10px 0 0;">
                                                    <i class="fas fa-edit"></i> 修改名稱
                                                </button>
                                            </a>
                                            <a href="{{ url("admin.soncategory.create", {"id": Category.getId()}) }}">
                                                <button class="btn btn-warning btn-xs" style="margin: 0 10px 0 0;">
                                                    <i class="fas fa-edit"></i> 創建子分類
                                                </button>
                                            </a>
                                            <a href="{{ url("admin.category.delete", {"id": Category.getId()}) }}">
                                                <button onclick="return confirm('確定刪除嗎?');" class="btn btn-danger btn-xs" style="margin: 0 10px 0 0;">
                                                    <i class="fas fa-edit"></i> 刪除分類
                                                </button>
                                            </a>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <a href="{{ url("admin.soncategory.create", {"id": category.getId()}) }}">
                        <button class="btn btn-info btn-sm" style="margin: 0 10px 0 0;">
                            <i class="fas fa-edit"></i> 創建分類
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </section><br>
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h2>產品</h2>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>產品名</th>
                                    <th>創建時間</th>
                                    <th>修改時間</th>
                                    <th>圖片</th>
                                    <th>敘述</th>
                                    <th>規格</th>
                                    <th>動作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for product in products %}
                                    <tr>
                                        <td>{{ product.name }}</td>
                                        <td>{{ product.createAt ? product.createAt|date('Y-m-d H:i:s') : '' }}</td>
                                        <td>{{ product.updateAt ? product.updateAt|date('Y-m-d H:i:s') : '' }}</td>
                                        <td>
                                                {% if product.image %}
                                                    <img width="200" height="200" src= "{{ product.image[0] }}">
                                                {% else %}
                                                    <img width="200" height="200" src= "/uploads/default/noPhoto.png">
                                                {% endif %}
                                        </td>
                                        <td>{{ product.description }}</td>
                                        <td>
                                            {% for format in product.format %}
                                                <div>{{ format }}</div>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            <a href="{{ url("admin.product.fetch", {"id": product.getId()}) }}">
                                                <button class="btn btn-primary btn-xs" style="margin: 0 10px 0 0;">
                                                    <i class="fas fa-eye"></i> 產品內容
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}