
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BlogPROJECT</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset("/plugins/fontawesome-free/css/all.min.css") }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="{{ asset("/plugins/icheck-bootstrap/icheck-bootstrap.min.css") }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset("/dist/css/adminlte.min.css") }}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- jQuery -->

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src= "/plugins/jquery/jquery.min.js" ></script>
    <script src="https://cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
</head>
<body class="hold-transition register-page">
<div class="register-box" style="width: 30%;">
    <div class="register-logo">
        創建帳號
    </div>

    <div class="card">

        <div class="card-body register-card-body ">
            {{ form_start(form) }}
            <div class="form-group">
                <div class="input-group mb-3">
                    {{ form_widget(form.name,
                        { "attr":{
                            'class': "form-control",
                            'placeholder': "輸入名字"}}) }}

                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                {{ form_errors(form.name) }}
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    {{ form_widget(form.email,
                        { "attr":{
                            'class': "form-control",
                            'placeholder': "輸入信箱"}}) }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope">

                            </span>
                        </div>
                    </div>

                </div>
                {% if error %}
                   <li> {{ error }}</li>
                {% endif %}
                {{ form_errors(form.email) }}
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    {{ form_widget(form.plainPassword.first,
                        { "attr":{
                            'class': "form-control",
                            'placeholder': "輸入密碼"}}) }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                {{ form_errors(form.plainPassword.first) }}
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    {{ form_widget(form.plainPassword.second,
                        { "attr":{
                            'class': "form-control",
                            'placeholder': "確認密碼"}}) }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                {{ form_errors(form.plainPassword.second) }}
            </div>
            <div class="row">
                <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block" style="margin: auto">註冊</button>
                </div>
            </div>
            {{ form_end(form) }}
            已有帳號? <a href="/login">登入</a>
        </div>
    </div>

    <!-- jQuery -->
    <script src="{{ asset("/plugins/jquery/jquery.min.js") }}"></script>
    <!-- Bootstrap 4 -->
    <script src="{{ asset("/plugins/bootstrap/js/bootstrap.bundle.min.js") }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset("/dist/js/adminlte.min.js") }}"></script>
</div>
</body>
</html>


