{% if locale == 'zh_tw' %}
    {% set twig = "zh_base.html.twig" %}
    {% set css =  'assets/css/equipment.css'%}
{% else %}
    {% set twig = "en_base.html.twig" %}
    {% set css =  'assets/en/css/equipment.css'%}
{% endif %}

{% extends 'website/'~ twig %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset(css) }}">
{% endblock %}

{% block body %}
    <header>
        <div class="header-wrap">
            <p class="main__company-name">
                <span class="chi">富蘭工業股份有限公司</span>
                <span class="eng">Full Land Industrial Corp.</span>
            </p>
            <div class="main__social">
                <div>FOLLOW US</div>
                <a class="icon-fb" href="https://www.facebook.com/paperbagfullland/" target="_blank"></a>
            </div>
            <div class="header__back"></div>
            <!-- <div class="header__back-text">The Brand Carrier</div> -->
            <!-- <ul class="header__map">
              <li>TOP</li>
              <li>Equipment</li>
            </ul> -->
            <div class="header__content">
                <div class="column">
                    <h1>Equipment</h1>
                    {% if locale == 'zh_tw' %}
                        <h2>機器設備</h2>
                    {% endif %}
                </div>
                <div class="column">
                </div>
            </div>
        </div>
    </header>
    <main class="equipment">
        <div class="main-wrap">
            <section id="section1" class="section1">
                <div class="row">
                    {% if locale == 'zh_tw' %}
                        <h2><span class="bigger">印刷設備</span></h2>
                    {% else %}
                        <h2><span class="bigger"></span></h2>
                    {% endif %}
                    <h1>PRINTING<br>EQUIPMENT</h1>
                </div>
                <div class="section-list-wrap">
                    <div id="section1-list" class="list">
                        <div class="item active">01</div>
                        <div class="item">02</div>
                        <div class="item">03</div>
                        <div class="item">04</div>
                    </div>
                    <div class="img-wrap-m">
                        <div class="slick">
                            <div class="item">
                                <span>{{ 'Ink-dispensing system'| trans }}</span>
                                <div class="img-list__item" style="background-image: url({{ asset('assets/image/equipment/1_1.jpg') }});"></div>
                            </div>
                            <div class="item">
                                <span>{{ '8 color flexo press'| trans }}</span>
                                <div class="img-list__item" style="background-image: url({{ asset('assets/image/equipment/1_2.jpg') }});"></div>
                            </div>
                            <div class="item">
                                <span>{{ '6 color flexo press'| trans }}</span>
                                <div class="img-list__item" style="background-image: url({{ asset('assets/image/equipment/1_3.jpg') }});"></div>
                            </div>
                            <div class="item">
                                <span>{{ '4 color flexo press'| trans }}</span>
                                <div class="img-list__item" style="background-image: url({{ asset('assets/image/equipment/1_4.jpg') }});"></div>
                            </div>
                        </div>
                        <div class="digital"></div>
                    </div>
                    <div class="img-wrap">
                        <div id="section1-img-list" class="img-list">
                            <div class="img-list__item active" style="background-image: url({{ asset('assets/image/equipment/1_1.jpg') }});"></div>
                            <div class="img-list__item" style="background-image: url({{ asset('assets/image/equipment/1_2.jpg') }});"></div>
                            <div class="img-list__item" style="background-image: url({{ asset('assets/image/equipment/1_3.jpg') }});"></div>
                            <div class="img-list__item" style="background-image: url({{ asset('assets/image/equipment/1_4.jpg') }});"></div>
                        </div>
                        <dis class="row">
                            <div id="section1-text-list" class="text-list">
                                <h1 class="active">
                                    <span class="arrow">{{ 'Ink-dispensing system'| trans }}</span>
                                </h1>
                                <h1>
                                    <span class="arrow">{{ '8 color flexo press'| trans }}</span>
                                </h1>
                                <h1>
                                    <span class="arrow">{{ '6 color flexo press'| trans }}</span>
                                </h1>
                                <h1>
                                    <span class="arrow">{{ '4 color flexo press'| trans }}</span>
                                </h1>
                            </div>
                        </dis>
                    </div>
                </div>
            </section>
            <section class="section2">
                <div class="row">
                    {% if locale == 'zh_tw' %}
                        <h2><span class="bigger">製袋設備</span></h2>
                    {% else %}
                        <h2><span class="bigger"></span></h2>
                    {% endif %}
                    <h1>BAG MAKING<br>EQUIPMENT</h1>
                </div>
                <div class="section-list-wrap">
                    <div id="section2-list" class="list">
                        <div class="item active">01</div>
                        <div class="item">02</div>
                        <div class="item">03</div>
                        <div class="item">04</div>
                        <div class="item">05</div>
                    </div>
                    <div class="img-wrap-m">
                        <div class="slick">
                            <div class="item">
                                <span>{{ 'Flat paper handle bag machine'| trans }}</span>
                                <div class="img-list__item" style="background-image: url({{ asset('assets/image/equipment/2_1.jpg') }}../image/equipment/2_1.jpg);"></div>
                            </div>
                            <div class="item">
                                <span>{{ 'Twisted handle bag machine'| trans }}</span>
                                <div class="img-list__item" style="background-image: url({{ asset('assets/image/equipment/2_2.jpg') }});"></div>
                            </div>
                            <div class="item">
                                <span>{{ 'Sheet-Feed paper bag machine'| trans }}</span>
                                <div class="img-list__item" style="background-image: url({{ asset('assets/image/equipment/2_3.jpg') }});"></div>
                            </div>
                            <div class="item">
                                <span>{{ 'Paper Sheeter'| trans }}</span>
                                <div class="img-list__item" style="background-image: url({{ asset('assets/image/equipment/2_4.jpg') }});"></div>
                            </div>
                            <div class="item">
                                <span>{{ 'Shrink / Flow Wrapping Machine'| trans }}</span>
                                <div class="img-list__item" style="background-image: url({{ asset('assets/image/equipment/2_5.jpg') }});"></div>
                            </div>
                        </div>
                        <div class="digital"></div>
                    </div>
                    <div class="img-wrap">
                        <div id="section2-img-list" class="img-list">
                            <div class="img-list__item active" style="background-image: url({{ asset('assets/image/equipment/2_1.jpg') }});"></div>
                            <div class="img-list__item" style="background-image: url({{ asset('assets/image/equipment/2_2.jpg') }});"></div>
                            <div class="img-list__item" style="background-image: url({{ asset('assets/image/equipment/2_3.jpg') }});"></div>
                            <div class="img-list__item" style="background-image: url({{ asset('assets/image/equipment/2_4.jpg') }});"></div>
                            <div class="img-list__item" style="background-image: url({{ asset('assets/image/equipment/2_5.jpg') }});"></div>
                        </div>
                        <dis class="row">
                            <div id="section2-text-list" class="text-list">
                                <h1 class="active">
                                    <span class="arrow">{{ 'Flat paper handle bag machine'| trans }}</span>
                                </h1>
                                <h1>
                                    <span class="arrow">{{ 'Twisted handle bag machine'| trans }}</span>
                                </h1>
                                <h1>
                                    <span class="arrow">{{ 'Sheet-Feed paper bag machine'| trans }}</span>
                                </h1>
                                <h1>
                                    <span class="arrow">{{ 'Paper Sheeter'| trans }}</span>
                                </h1>
                                <h1>
                                    <span class="arrow">{{ 'Shrink / Flow Wrapping Machine'| trans }}</span>
                                </h1>
                            </div>
                        </dis>
                    </div>
                </div>
            </section>
            <section class="section3">
                <div class="row title">
                    {% if locale == 'zh_tw' %}
                        <h2><span class="bigger">廢水處理</span></h2>
                    {% else %}
                        <h2><span class="bigger"></span></h2>
                    {% endif %}
                    <h1>WASTEWATER<br>TREATMENT</h1>
                </div>
                <div class="section-list-wrap">
                    <div class="img-wrap">
                        <div id="section1-img-list" class="img-list">
                            <div class="img-list__item active" style="background-image: url({{ asset('assets/image/equipment/3.jpeg') }});"></div>
                        </div>
                        <dis class="row">
                            <div id="section1-text-list" class="text-list">
                                <h1 class="active">{{ 'We adopt advanced water-based flexographic printing technology, so our bags are non-toxic and 100% compostable.  Our facility is equipped with most advanced sewage treatment system; printing wastewater was treated by multiple purification processes in order to reach pollutant free discharge.'| trans }}</h1>
                            </div>
                        </dis>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/equipment.js') }}"></script>
{% endblock %}