
{% extends 'user/base.html.twig' %}
    {% block body%}
        <main>
            <div id="farmIntroduction">
                <div id="banner">
                    <div class="photo">
                        <img src="{{ asset('dist/img/product.jpg') }}" alt="小農點點">
                    </div>
                    <div class="text">
                        <h2>Message</h2>
                        <h3>留言板</h3>
                    </div>
                </div>
                <div class="wrapper container-fluid join">
                    <div class="row slideUp wow">
                        <div class="col-12 col-lg-4 offset-lg-4">
                            <p class="text-center">謝謝你的留言，服務人員會盡快與您聯絡！</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="quality" class="content">
                <div class="wrapper">
                    <div class="row slideUp wow">
                        <div class="item col-xl-3 col-md-6 col-6">
                            <img src="{{ asset('dist/img/q1.png') }}" alt="小農點點">
                            <div class="title">
                                <h3>10%高品質</h3>
                            </div>
                            <p>
                                限量供應小農10%的外銷商品
                            </p>
                        </div>
                        <div class="item col-xl-3 col-md-6 col-6">
                            <img src="{{ asset('dist/img/q4.png') }}" alt="小農點點">
                            <div class="title">
                                <h3>QR碼身分證</h3>
                            </div>
                            <p>
                                每項產品皆有完整QR碼身分履歷
                            </p>
                        </div>
                        <div class="item col-xl-3 col-md-6 col-6">
                            <img src="{{ asset('dist/img/q3.png') }}" alt="小農點點">
                            <div class="title">
                                <h3>紙箱回收</h3>
                            </div>
                            <p>
                                友善環境，回收無污損包裝箱享折扣
                            </p>
                        </div>
                        <div class="item col-xl-3 col-md-6 col-6">
                            <img src="{{ asset('dist/img/q2.png') }}" alt="小農點點">
                            <div class="title">
                                <h3>無電子發票</h3>
                            </div>
                            <p>
                                本站小農產品，不提供電子及紙本發票
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    {% endblock %}

