{% extends 'user/base.html.twig' %}
{% block body %}
<main xmlns:text-align="http://www.w3.org/1999/xhtml">
    <div id="memberProfile">
        <h2 class="text-center">修改密碼</h2>
        <div class="wrapper container-fluid">
            <div class="row">
                <div class="col-xl-2 slideUp wow">
                    <div class="member_menu">
                        <h3>我的帳號</h3>
                        <ul>
                            <li>
                                <a href="{{ path('user.info',{'uuid':app.user.uuid}) }}">
                                    <h4>
                                        <span class="icon"><i class="fas fa-user"></i></span>
                                        會員資訊<i class="fas fa-angle-right"></i>
                                    </h4>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('user.order',{'uuid':app.user.uuid}) }}">
                                    <h4>
                                        <span class="icon"><i class="fas fa-server"></i></span>
                                        訂單查詢<i class="fas fa-angle-right"></i>
                                    </h4>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('user.follow.farmer.list') }}">
                                    <h4>
                                        <span class="icon"><i class="fas fa-heart"></i></span>
                                        追蹤小農<i class="fas fa-angle-right"></i>
                                    </h4>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url('user.resetPassword') }}">
                                    <h4>
                                        <span class="icon"><i class="fas fa-unlock-alt"></i></span>
                                        密碼修改<i class="fas fa-angle-right"></i>
                                    </h4>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('auth.logout') }}">
                                    <h4><span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                                        登出<i class="fas fa-angle-right"></i>
                                    </h4>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="memberForm" class="col-xl-10 slideUp wow">
                    <form method="post" action="{{ path('user.resetPassword') }}">
                        <div class="row">
                            <div class="col-12">
                                {{ form_row(form._token) }}
                                <div class="form-group row memberForm">
                                    <label for="inputPassword" class="col-sm-2">舊密碼：</label>
                                    <div class="col-sm-10">
                                    {{ form_widget(form.oldPassword, {'attr': {
                                        'class': 'form-control',
                                        'placeholder': '',
                                        'style':'password'
                                    }}) }}
                                    </div>
                                </div>
                                <div style="text-align: left; color:red">
                                    {{ msg }}
                                </div>
                                <div class="form-group row memberForm">
                                    <label for="inputPassword" class="col-sm-2">新密碼：</label>
                                    <div class="col-sm-10">
                                        {{ form_widget(form.newPassword.first,
                                            { "attr":{
                                                'class': "form-control",
                                                'placeholder': "輸入密碼",
                                                'style':'password'}}) }}
                                    </div>
                                    <div style="text-align: left; color:red">
                                        {{ form_errors(form.newPassword.first) }}
                                    </div>
                                </div>
                                <div class="form-group row memberForm">
                                    <label for="inputPassword" class="col-sm-2">新密碼確認：</label>
                                    <div class="col-sm-10">
                                        {{ form_widget(form.newPassword.second,
                                            { "attr":{
                                                'class': "form-control",
                                                'placeholder': "確認密碼",
                                                'style':'password'}}) }}
                                    </div>
                                    <div style="text-align: left; color:red">
                                        {{ form_errors(form.newPassword.second) }}
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button class="btn" type="submit">確認</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
