{% extends 'user/base.html.twig' %}
{% block body %}
<main>
    <div id="farmIntroduction">
        <div id="banner">
            <div class="photo">
                <img src="{{ asset('dist/img/product.jpg') }}" alt="小農點點">
            </div>
            <div class="text">
                <h3>忘記密碼</h3>
            </div>
        </div>
        <div class="wrapper container-fluid join">
            <div class="row  slideUp wow">
                <div class="col-12 col-lg-4 offset-lg-4">

                    <form action="{{ path('auth.forgetPassword') }}" method="post">
                        {{ form_row(form._token) }}
                        <div class="form-group">
                            <label>輸入信箱</label><br>
                            {{ form_widget(form.email, {'attr': {
                                'class': 'form-control',
                                'placeholder': '',
                                'style':'width:450px; height:50px'
                            }}) }}
                        </div>
                        {{ message }}
                        <div class="form-group">
                            <button type="submit" class="btn btn-info" onclick="submitXML()">送出</button></br>
                        </div>
                    </form>
                    <p>騰出空間以如果未來有相關法規或是注意事項需要放置提醒。騰出空間以如果未來有相關法規或是注意事項需要放置提醒</p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
