{% extends 'user/base.html.twig' %}
{% block body%}
    <main>
        <div id="farmIntroduction">
            <div id="banner">
                <div class="photo">
                    <img src="{{ asset('dist/img/product.jpg') }}" alt="小農點點">
                </div>
                <div class="text">
                    <h2>Join Us</h2>
                    <h3>加入我們</h3>
                </div>
            </div>
            <div id="farmIntroduction_menu">
                <div class="wrapper">
                    <ul>
                        <li>
                            <a href="{{ url("aboutUs") }}">關於我們</a>
                        </li>
                        <li>
                            <a href="{{ url("team") }}">團隊介紹</a>
                        </li>
                        <li class="active">
                            <a href="{{ url("join") }}">加入我們</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="wrapper container-fluid join">
                <div class="row slideUp wow">
                    <div class="col-12 col-lg-4 offset-lg-4">
                        <p class="text-center">請填入聯絡資訊，將有專人會為您進行聯絡。</p>
                            {{ form_start(form) }}
                            {{ form_widget(form.name, {'attr': {
                                'class': 'form-control',
                                'placeholder': '請輸入姓名'
                            }}) }}
                            {{ form_widget(form.email, {'attr': {
                                'class': 'form-control',
                                'placeholder': '請輸入信箱'
                            }}) }}
                            {{ form_widget(form.mobile, {'attr': {
                                'class': 'form-control',
                                'placeholder': '請輸入電話'
                            }}) }}
                            <div class="text-center">
                                <button type="submit">送出</button>
                            </div>
                            {{ form_end(form) }}
                        <p>騰出空間以如果未來有相關法規或是注意事項需要放置提醒。騰出空間以如果未來有相關法規或是注意事項需要放置提醒</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="quality" class="content">
            <div class="wrapper">
                <div class="row slideUp wow">
                    <div class="item col-xl-3 col-md-6 col-6">
                        <img src="{{ asset('dist/img/q1.png') }}" alt="小農點點">
                        <div class="title">
                            <h3>10%高品質</h3>
                        </div>
                        <p>
                            限量供應小農10%的外銷商品
                        </p>
                    </div>
                    <div class="item col-xl-3 col-md-6 col-6">
                        <img src="{{ asset('dist/img/q4.png') }}" alt="小農點點">
                        <div class="title">
                            <h3>QR碼身分證</h3>
                        </div>
                        <p>
                            每項產品皆有完整QR碼身分履歷
                        </p>
                    </div>
                    <div class="item col-xl-3 col-md-6 col-6">
                        <img src="{{ asset('dist/img/q3.png') }}" alt="小農點點">
                        <div class="title">
                            <h3>紙箱回收</h3>
                        </div>
                        <p>
                            友善環境，回收無污損包裝箱享折扣
                        </p>
                    </div>
                    <div class="item col-xl-3 col-md-6 col-6">
                        <img src="{{ asset('dist/img/q2.png') }}" alt="小農點點">
                        <div class="title">
                            <h3>無電子發票</h3>
                        </div>
                        <p>
                            本站小農產品，不提供電子及紙本發票
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}

