<footer>
    <div class="mailEnter">
{#        <div class="wrap">#}
{#            <p>SUBSCRIBE NOW</p>#}
{#            <input type="text" placeholder="Enter your email…">#}
{#            <div class="button">SUBSCRIBE</div>#}
{#        </div>#}
    </div>
    <section>
        <div class="wrap">
            <ul class="information">
                <li class="tip1">
                    <div class="logo"></div>
                    <div class="shop_name">
                        <p class="text1">格蕾朵甜點莊園</p>
                        <span class="text1">French style pastries, Coffee and Tea</span>
                    </div>
                </li>
                <li>
                    <p>OPEN HOUR</p>
                    <span>每日12:00pm~19:30pm</span>
                </li>
                <li class="tip2">
                    <div class="phone">
                        <p>PHONE</p>
                        <span>07-3326879</span>
                    </div>
                    <div class="mail">
                        <p>EMAIL</p>
                        <span>s2468157@ms23.hinet.net</span>
                    </div>
                </li>
                <li>
                    <p>ADDRESS</p>
                    <span>高雄市前鎮區民權二路8號21F之2號</span>
                </li>
            </ul>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14562.041082846612!2d120.64445!3d24.153831!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa9d13e35d02a79c7!2z5qC86JW-5py155Sc6bue6I6K5ZyS!5e0!3m2!1szh-TW!2stw!4v1560754569827!5m2!1szh-TW!2stw" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <ol>
                <li>
                    <a href="{{ url('user.child-category.list', {"id": getFirstFatherCategoryId()}) }}">購買產品</a>
                </li>
                <li>
                    <a href="{{ url('user.aboutUs') }}">關於我們</a>
                </li>
                <li>
                    <a href="{{ url('news.list') }}">最新消息</a>
                </li>
                <li id="ftContact-id">
                    <p>聯絡我們</p>
                </li>
                <li>
                    <p id="loginStatusFt-before-id" class="loginStatusFt loginStatusFt-before">會員專區</p>
                </li>
                {% if app.user %}
                <li>
                    <p id="loginStatusFt-after-id" class="loginStatusFt loginStatusFt-after active">會員專區</p>
                    <ul id="memberZoneFt-id" class="memberZone">
                        <li>
                            <a href="{#'user.order'#}">查詢訂單</a>
                        </li>
                        <li>
                            <a href="{{ url('user.info') }}">編輯會員資料</a>
                        </li>
                        <li>
                            <p class="{{ path('auth.logout') }}">登出會員</p>
                        </li>
                    </ul>
                </li>
                {% endif %}
            </ol>
            <ul class="social">
                <li>
                    <a href="#">Facebook</a>
                </li>
                <li>
                    <a href="#">Instagram</a>
                </li>
                <li>
                    <a href="#">LINE <span>@sweetcolette</span></a>
                </li>
                <li class="qr">
                    <div class="qr_li"></div>
                </li>
            </ul>
        </div>
    </section>
    <div class="footer_end">
        <p>© 2019 Colette. All rights reserved</p>
    </div>
</footer>