<nav>
  <div id="nav" class="nav-container">
    <div class="nav-wrap">
      <div class="nav__logo nav__logo1">
        <a id="pc_logo" href="/"><img src="{{ asset('assets/image/logo1.svg') }}" alt="fullland logo"></a>
        <a id="m_logo" href="/"><img src="{{ asset('assets/image/logo2.svg') }}" alt="fullland logo"></a>
      </div>
      <div class="nav__logo nav__logo2">
        <a id="pc_logo" href="/"><img src="{{ asset('assets/image/logo3.svg') }}" alt="fullland logo"></a>
        <a id="m_logo" href="/"><img src="{{ asset('assets/image/logo1.svg') }}" alt="fullland logo"></a>
        <a id="m_logo2" href="/"><img src="{{ asset('assets/image/logo2.svg') }}" alt="fullland logo"></a>
      </div>
      <ul class="nav__menu">
        <li class="nav__menu__item meun_about">
          <a href="{{ url('about') }}">
            <span class="eng">About us</span>
            <span class="chi">{{ 'About us'| trans }}</span>
          </a>
        </li>
        <li class="nav__menu__item meun_news">
          <a href="{{ url('news.list') }}">
            <span class="eng">News</span>
            <span class="chi">{{ 'News'| trans }}</span>
          </a>
        </li>
        <li class="nav__menu__item meun_advantages">
          <a href="{{ url("advantages") }}">
            <span class="eng">Advantages</span>
            <span class="chi">{{ 'Advantages'| trans }}</span>
          </a>
        </li>
        <li class="nav__menu__item meun_certificates">
          <a href="{{ url("certificates") }}">
            <span class="eng">Certificates</span>
            <span class="chi">{{ 'Certificates'| trans }}</span>
          </a>
        </li>
        <li class="nav__menu__item meun_equipment">
          <a href="{{ url("equipment") }}">
            <span class="eng">Equipment</span>
            <span class="chi">{{ 'Equipment'| trans }}</span>
          </a>
        </li>
        <li class="nav__menu__item meun_products">
          <a href="{{ url("product") }}">
            <span class="eng">Products</span>
            <span class="chi">{{ 'Products'| trans }}</span>
          </a>
        </li>
        <li class="nav__menu__item meun_contact">
          <a href="{{ url("contact") }}">
            <span class="eng">Contact</span>
            <span class="chi">{{ 'Contact'| trans }}</span>
          </a>
        </li>
      </ul>
      <div class="nav__slogan green">
        <h3>FOLLOW US</h3>
        <a id="m-fb" href="https://www.facebook.com/paperbagfullland/" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.41 31.91">
            <defs>
              <style>
                .cls-1 {
                  fill: #fff;
                }
              </style>
            </defs>
            <title>資產 1</title>
            <g id="圖層_2" data-name="圖層 2">
              <g id="文字">
                <path class="cls-1" d="M18.41,12.27H12.27V7.36c0-1.35,1.1-1.22,2.46-1.22h2.45V0H12.27A7.36,7.36,0,0,0,4.91,7.36v4.91H0v6.14H4.91v13.5h7.36V18.41H16Z" />
              </g>
            </g>
          </svg>
        </a>
        <a href="https://cup-carrier.com/" target="_blank">
          <svg version="1.1" id="圖層_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="37.5px" height="36.3px" viewBox="0 0 37.5 36.3" enable-background="new 0 0 37.5 36.3" xml:space="preserve">
            <g>
              <polygon fill="#FFFFFF" points="0.8,17.3 8.2,17.3 8.2,14.9 3.3,14.9 3.3,9.8 7.5,9.8 7.5,7.5 3.3,7.5 3.3,2.5 8.2,2.5 8.2,0.1 
                0.8,0.1 	" />
              <path fill="#FFFFFF" d="M20.3,16.3c0.4,0.4,0.8,0.6,1.3,0.9c0.5,0.2,1.1,0.3,1.7,0.3c0.8,0,1.5-0.1,2-0.4c0.5-0.3,1-0.6,1.3-1
                c0.3-0.4,0.6-1,0.7-1.6c0.1-0.6,0.2-1.3,0.2-2c0-0.6,0-1.2-0.1-1.7c-0.1-0.5-0.2-0.9-0.4-1.3c-0.2-0.4-0.4-0.7-0.8-1
                c-0.3-0.3-0.8-0.5-1.3-0.7L23.1,7c-0.3-0.1-0.6-0.3-0.8-0.4c-0.2-0.1-0.3-0.3-0.4-0.4c-0.1-0.2-0.2-0.4-0.2-0.6c0-0.2,0-0.5,0-0.9
                c0-0.3,0-0.6,0.1-0.8c0-0.3,0.1-0.5,0.3-0.7c0.1-0.2,0.3-0.4,0.5-0.5c0.2-0.1,0.5-0.2,0.8-0.2c0.6,0,1.1,0.2,1.3,0.6
                c0.3,0.4,0.4,0.9,0.4,1.5v0.6h2.5V3.9c0-0.5-0.1-1-0.3-1.4C27,2,26.8,1.6,26.4,1.2c-0.4-0.4-0.8-0.7-1.3-0.9C24.6,0.1,24,0,23.4,0
                c-0.7,0-1.3,0.1-1.9,0.4c-0.5,0.2-1,0.6-1.3,1c-0.3,0.4-0.6,0.9-0.8,1.5c-0.2,0.6-0.3,1.2-0.3,1.8c0,1.1,0.2,2,0.5,2.7
                c0.4,0.7,1.1,1.3,2.1,1.7l1.8,0.7c0.3,0.1,0.5,0.2,0.7,0.4c0.2,0.1,0.3,0.3,0.4,0.4c0.1,0.2,0.2,0.4,0.2,0.7c0,0.3,0,0.7,0,1.1
                c0,0.4,0,0.7,0,1.1c0,0.3-0.1,0.6-0.2,0.8c-0.1,0.2-0.3,0.4-0.5,0.5c-0.2,0.1-0.6,0.2-1,0.2c-0.6,0-1.1-0.2-1.3-0.5
                c-0.3-0.4-0.4-0.8-0.4-1.2v-0.8h-2.5v0.9c0,0.6,0.1,1.1,0.3,1.6C19.6,15.5,19.9,15.9,20.3,16.3z" />
              <polygon fill="#FFFFFF" points="31.6,17.3 34.1,17.3 34.1,10.1 37.5,0.1 34.9,0.1 32.9,7 32.8,7 30.9,0.1 28.3,0.1 31.6,10.1 	" />
              <path fill="#FFFFFF" d="M13.5,0.1c-2.3,0-4.2,1.9-4.2,4.2c0,0,0,4.7,0,8h0v5h8.4v-2h0c0,0,0-10.9,0-10.9C17.7,2,15.8,0.1,13.5,0.1z
                M10.4,4.4c0-1.7,1.4-3.1,3.1-3.1c1.7,0,3,1.4,3.1,3.1c0,0,0,4.7,0,8h-6.1C10.4,9.1,10.4,4.4,10.4,4.4z" />
              <polygon fill="#FFFFFF" points="0,21.5 2.8,21.5 2.8,36.3 5.3,36.3 5.3,21.5 8.2,21.5 8.2,19.2 0,19.2 	" />
              <polygon fill="#FFFFFF" points="27.6,19.2 25.2,19.2 21.6,27 21.5,27 21.5,19.2 19.1,19.2 19.1,36.3 21.5,36.3 21.5,31.2 
                22.9,28.7 25.7,36.3 28.3,36.3 24.3,26.1 	" />
              <polygon fill="#FFFFFF" points="29.2,36.3 36.5,36.3 36.5,33.9 31.7,33.9 31.7,28.8 35.9,28.8 35.9,26.5 31.7,26.5 31.7,21.5 
                36.5,21.5 36.5,19.2 29.2,19.2 	" />
              <polygon fill="#FFFFFF" points="11,36.3 16,36.3 17.7,19.2 9.3,19.2 	" />
            </g>
          </svg>
        </a>
      </div>
    </div>
    <ul class="nav__lang">
      <li class="nav__lang__item" onclick="changeEnLocale()">EN</li>
      <li class="nav__lang__item active" onclick="changeZhLocale()">中</li>
    </ul>
  </div>
  <div id="m_meun">
    <span class="text">Close</span>
    <span class="icon"></span>
  </div>
</nav>
<script>
  function changeEnLocale(){
    var pathName = window.location.pathname;
    var protocol = window.location.protocol;
    var host = window.location.host;
    var pieces = pathName.split("/");
    if(pieces[1] !== "en"){
      pathName = "/en" + pathName;
      window.location.assign(protocol+"//"+host+pathName);
    }

  }

  function changeZhLocale(){
    var pathName = window.location.pathname;
    var protocol = window.location.protocol;
    var host = window.location.host;
    var pieces = pathName.split("/");
    if(pieces[1] === "en"){
      pathName = pathName.replace('/en','')
      window.location.assign(protocol+"//"+host+pathName);
    }

  }
</script>