{% extends 'base.html.twig' %}

{% block title %}Create Category{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm">
                        <h1>創建留言</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ url("admin.index") }}">{{ "Home Page" | trans }}</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div calss="row">
                    <div class="col-md-6">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">
                                    留言
                                </h3>
                            </div>
                            {{ form_start(form) }}
                            <div class="card-body">
                                <div class="form-group">
                                    內容<br>
                                    {{ form_widget(form.content) }}
                                </div>
                                <button type = "submit" class="btn btn-info btn-xs">送出</button></br>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}