<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="/index" class="brand-link">
        <img src="/img/logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .9">
        {% if app.user %}
            <span class="brand-text font-weight-light">{{ app.user.name }}</span>
            {% else %}
                <span class="brand-text font-weight-light">visitor</span>
        {% endif %}
    </a>
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/product" class="nav-link">
                        <i class="nav-icon fas fa-cart"></i>
                        <p>
                            全部產品

                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-archive"></i>
                        <p>
                            分類
                            <i class = "right fas fa-angle-left"></i>
                        </p>
                    </a>
                    {% set categories = getCategories() %}

                    {% for category in categories %}
                        {% set count = countCategory(category) %}
                        {% set sons = category.getChildren() %}
                        {% set title = '' %}
                        {% for son in sons %} {% set title = title ~ '  ' ~ son.getName() %}
                            {% endfor %}
                        <ul class="nav nav-treeview">
                            <li class ="nav-item">
                                <a href="{{ url("product.list.category", {"id": category.getId()}) }}" class="nav-link">
                                    {{ category.getName() }}[{{ count }}]
                                </a>
                            </li>
                        </ul>
                    {% endfor %}
                </li>
                {% if app.user and app.user.name != 'admin' %}
                    <li class="nav-item">
                        <a href="/cart" class="nav-link">
                            <i class="nav-icon fas fa-cart-plus"></i>
                            <p>
                                購物車
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('product.follow.list') }}" class="nav-link">
                            <i class="nav-icon fas fa-heart"></i>
                            追蹤
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('message.fetch') }}" class="nav-link">
                            <i class="nav-icon fas fa-envelope"></i>
                            私訊
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{path('order.list') }}" class="nav-link">
                            <i class="nav-icon fas fa-paper-plane"></i>
                            訂單
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('user.update', {"id": app.user.id}) }}" class="nav-link">
                            <i class="nav-icon fas fa-user"></i>
                            會員資料修改
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</aside>