{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm">
                        <h1>創建新聞</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ url("admin.index") }}">{{ "Home Page" | trans }}</a></li>
                            <li class="breadcrumb-item active">創建新聞</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-cyan shadow">
                            <div class="card-header">
                                <h3 class="card-title">
                                    消息
                                </h3>
                            </div>
                            <form method="post" enctype="multipart/form-data" action="{{ url('admin.news.create') }}">
                                {{ form_row(form._token) }}
                            <div class="card-body">
                                <div class="form-group">
                                    <label>英文標題</label>
                                    {{ form_widget(form.enTitle, {'attr': {
                                        'class': 'form-control',
                                    }}) }}
                                    {% for error in form.enTitle.vars['errors'] %}
                                        <label class="col-form-label" for="inputError">{{ error.message }}</label>
                                    {% endfor %}
                                </div>
                                <div class="form-group has-error">
                                    <label>中文標題</label>
                                    {{ form_widget(form.zhTitle, {'attr': {
                                        'class': 'form-control',
                                    }}) }}
                                    {% for error in form.zhTitle.vars['errors'] %}
                                        <label class="col-form-label" for="inputError">{{ error.message }}</label>
                                    {% endfor %}
                                </div>

                                <div class="form-group">
                                    <label>英文內容(建議圖片大小 830*550)</label>
                                    {{ form_widget(form.enContent, {'attr': {
                                        'class': 'summernote',
                                    }}) }}
                                    {% for error in form.enContent.vars['errors'] %}
                                        <label class="col-form-label" for="inputError">{{ error.message }}</label>
                                    {% endfor %}
                                </div>

                                <div class="form-group">
                                    <label>中文內容(建議圖片大小 830*550)</label>
                                    {{ form_widget(form.zhContent, {'attr': {
                                        'class': 'summernote',
                                    }}) }}
                                    {% for error in form.zhContent.vars['errors'] %}
                                        <label class="col-form-label" for="inputError">{{ error.message }}</label>
                                    {% endfor %}
                                </div>

                                <div class="form-group">
                                    <label>抬頭圖選擇(建議圖片大小 560*300)</label>
                                    <div id="dropzoneID" class="dropzone"></div>
                                </div>
                                <input type="hidden" name="image">
                                <input type="hidden" name="image_name">


                                <div class="form-group">
                                    <button type="submit" class="btn btn-info" onclick="submitXML()">送出</button></br>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        // init,configure dropzone
        Dropzone.autoDiscover = false;
        Dropzone.options.dropzone = false;
        var dropzone_default = new Dropzone("#dropzoneID", {
            url: '{{ path('admin.news.create') }}' ,
            acceptedFiles: 'image/*',
            dictDefaultMessage: "將檔案拉至此處上傳(僅限一張，建議大小 1075*580)",
            maxFiles : 1,
            maxFilesize: 3,  // in Mb
            addRemoveLinks: true,
            init: function () {
                var submitButton = document.querySelector('#upload');
                myDropzone = this;
                var dataUrl = [];
                var name = [];
                this.on("complete",function () {
                    var args = Array.prototype.slice.call(arguments);
                    dataUrl.push(args[0]['dataURL']);
                    name.push(args[0]['name']);
                    $('[name=image]').val(dataUrl);
                    $('[name=image_name]').val(name);
                    // Look at the output in you browser console, if there is something interesting

                });
                this.on("removedfile",function(){
                    var args = Array.prototype.slice.call(arguments);
                    var index = dataUrl.indexOf(args[0]['dataURL']);
                    dataUrl.splice(index,1);
                    name.splice(index,1);
                    $('[name=image]').val(dataUrl);
                    $('[name=image_name]').val(name);
                    // console.log(args);
                });

            }

        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.summernote').summernote(
                {
                    height: '300px',
                    popover: {
                        image: [],
                        link: [],
                        air: []
                    },
                },
            )
        });
    </script>

{% endblock %}
