{% extends  "admin/base.html.twig"%}

{% block body %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>新增相簿</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ url("admin.index") }}">Home Page</a></li>
                        <li class="breadcrumb-item active">新增相簿</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card card-cyan">
                        <div class="card-header">
                            <h3 class="card-title">相簿資訊</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="card-body">
                            <form method="post" action="{{ url('admin.album.create') }}">
                                {{ form_row(form._token) }}
                            <div class="form-group">
                                <label>相簿名稱</label><br>
                                {{ form_widget(form.name) }}
                            </div>

                            <div class="form-group">
                                <label>相簿敘述</label><br>
                                {{ form_widget(form.description) }}
                            </div>

                            <div class="form-group">
                                <label>下線時間</label><br>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                    </div>
                                    <input name="album[offlineAt]"
                                           type="text"
                                           class="form-control"
                                           data-inputmask-alias="datetime"
                                           data-inputmask-inputformat="yyyy/mm/dd"
                                           data-mask>
                                </div>
                            </div>
                            <button id="submit" class="btn btn-info">新增相簿</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            //Datemask dd/mm/yyyy
            $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
            //Money Euro
            $('[data-mask]').inputmask()
        })
    </script>
    <!-- InputMask -->
    <script src="{{ asset("/plugins/inputmask/min/jquery.inputmask.bundle.min.js") }}"></script>
{% endblock %}